{% extends 'base.html' %}
{% block sidebar %}

<div class="col-md-3">
  <div class="list-group">
    {% for item_category in categoryDb %}
    <a href="{% url 'category' item_category.pk %}" class="list-group-item list-group-item-action">{{ item_category.title}}</a>
  {% endfor %}
  </div>
</div>

{% endblock sidebar %}

{% block content %}
<div class="col-md-9">
            {% for item  in news %}
            <div class="card mb-3">
              <div class="card-header">
                Категория:{{item.category}}
              </div>
              <div>
              </div>
              <div class="card-body">
              <div class="media">
                {% if item.photo %}
                <img src="{{item.photo.url}}" alt="">
                {% endif %}
                <div class="media-body">
                <h5 class="card-title {% cycle  'text-danger' 'text-success' %}">{{item.title}}</h5>
                <p class="card-text">{{item.content}}</p>
                <a href="/" class="btn btn-primary">Read More...</a>
                </div>
              </div>
              </div>
              <div class="card-footer text-muted">
                {{ item.created_at|date:"Y-m-d H:i:s" }}
              </div>
            </div>
            {% empty %}
            Oopss
            {% endfor %}
          </div>

{% endblock content %}

