{% extends 'base.html' %}

{% block title %}
  {{title}} :: {{ block.super}}
{% endblock title %}
  
{% block sidebar %}
{% include 'include/_link.html' %}
{% endblock sidebar %}

{% block content %}
  {% for item  in news %}
  <div class="card mb-3">
    <div class="card-header">
      Категория:{{item.category}}
    </div>
    <div>
    </div>
    <div class="card-body">
    <div class="media">
      {% if item.photo %}
      <img src="{{item.photo.url}}" alt="" width="300" align="left" hspace="10">
      {% endif %}
      <div class="media-body">
      <h5 class="card-title {% cycle  'text-danger' 'text-success' %}">{{item.title}}</h5>
      <p class="card-text">{{item.content}}</p>
      <a href="/" class="btn btn-primary">Read More...</a>
      </div>
    </div>
    </div>
    <div class="card-footer text-muted">
      {{ item.created_at|date:"Y-m-d H:i:s" }}
    </div>
  </div>
  {% empty %}
  Oopss
  {% endfor %}
{% endblock content %}
